.diary {
    &__tittle {
        font-family: a_AvanteInt;
        font-size: 26px;
        text-align: center;
        padding-bottom: 86px;
    }

    &__leftPath {
        &__img {
            width: 100%;
            max-width: 240px;
        }
    }

    &__rightPath {
        &__tittle {
            font-family: a_AvanteLt;
            font-size: 24px;
            max-width: 522px;
            @include tablets {
                max-width: 100%;
            }
        }

        &__tittleText {
            font-family: a_AvanteInt;
            font-size: 16px;
            max-width: 622px;
            @include tablets {
                max-width: 100%;
            }
        }

        &__Text {
            font-family: a_AvanteLt;
            font-size: 16px;
            max-width: 622px;
            @include tablets {
                max-width: 100%;
            }
        }
        &__markets{
            width: 100%;
            &__img{
                width: 100%;
                max-width: 146px;
                
                height: 48px;
            }
        }
    }
}
.diary_mod{
    margin-top: 44px;
    margin-bottom: 131px;
}