.accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $Green;
}

.accordion-button:not(.collapsed) {
    color: $Black;
    background-color: transparent;
    box-shadow: none;
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-left: auto;
    content: "";
    background-image: url(../images/icons/arrow-bar-up.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/icons/arrow-bar-up.svg);
    transform: rotate(-180deg);
}

.support {
    padding-bottom: 88px;

    &__tittle {
        text-align: center;
        font-family: a_AvanteInt;
        font-size: 26px;

    }

}

.accordion {
    &__tittle {
        font-family: a_AvanteLt;
        font-size: 26px;
        padding-top: 44px;
        margin: 0;
    }

    &-button {
        font-family: a_AvanteInt;
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }

    &-body {
        padding-left: 0;
        padding-right: 0;

        &__text {
            font-family: a_AvanteLt;
            font-size: 16px;

            &__link {
                color: $Black;
                text-decoration: none;
                border-bottom: 1px solid $Black;

                &:hover {
                    color: $Green;
                    border-bottom: 1px solid $Green;
                    ;
                }
            }
        }
    }
}

.contacts {
    padding-bottom: 97px;

    &__tittle {
        font-family: a_AvanteInt;
        font-size: 26px;
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1 1fr);
        justify-content: space-between;
        gap: 70px;

        @include container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2 1fr);
        }

        @include tablets {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4 1fr);
        }

        &__item {

            @include container {
                &:nth-child(1) {
                    justify-self: end;
                }

                &:nth-child(2) {
                    justify-self: start;
                }

                &:nth-child(3) {
                    justify-self: end;
                }

                &:nth-child(4) {
                    justify-self: start;
                }
            }

            @include tablets {
                justify-self: center !important;

            }

            &__telephone {
                text-decoration: none;
                color: $Black;
                font-family: a_AvanteInt;
                font-size: 26px;
                transition: 0.5s;
                position: relative;

                &:hover {
                    color: $Green;
                }

                &::before {
                    content: url(../images/icons/phone.svg);
                    width: 24px;
                    height: 24px;
                    position: relative;
                    padding-right: 10px;
                    top: 3px;
                }
            }

            &__text {
                color: $Black;
                font-family: a_AvanteInt;
                font-size: 26px;

                &::before {
                    content: url(../images/icons/alarm.svg);
                    width: 24px;
                    height: 24px;
                    position: relative;
                    padding-right: 10px;
                    top: 3px;
                }
            }

            &__email {
                text-decoration: none;
                color: $Black;
                font-family: a_AvanteInt;
                font-size: 26px;
                transition: 0.5s;

                &:hover {
                    color: $Green;
                }

                &::before {
                    content: url(../images/icons/envelope-open.svg);
                    width: 24px;
                    height: 24px;
                    position: relative;
                    padding-right: 10px;
                    top: 3px;
                }
            }

            &__img {
                width: 32px;
                object-fit: contain;
            }
        }
    }
}

.map {
    padding-bottom: 100px;
    &__content {
        filter: grayscale(1);
        -ms-filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
    }
}